body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    text-align: center;
    padding: 60px 20px;
    background: #ff82c1;
    background: linear-gradient(154deg, rgba(255, 130, 193, 1) 0%, rgba(252, 217, 234, 1) 20%, rgba(255, 189, 220, 1) 41%, rgba(249, 201, 255, 1) 70%, rgba(219, 181, 255, 1) 100%);
  }

  .carattere-regular {
    font-family: "Carattere", cursive;
    font-weight: 400;
    font-style: normal;
  }
  
  
  header h1 {
    font-size: 800%;
  }


.newsreader{
  font-family: "Newsreader", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.zain-extralight {
    font-family: "Zain", sans-serif;
    font-weight: 200;
    font-style: normal;
  }


  header button {
    margin-top: 20px;
    padding: 12px 28px;
    background-color: #ff69b4; 
    color: white;
    border: none;
    border-radius: 30px; 
    font-weight: bold;
    transition: all 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  header button:hover {
    background-color: #ff85c1; 
    transform: scale(1.05); /
  }
  
  .gallery-grid {
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(5, 1fr);
  }
  
  .gallery-grid img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s ease;
  }

  .gallery-grid img:hover {
    transform: scale(1.05);
  }
  
  footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 30px 0;
    font-size: 12px;
  }
  
  
  #about {
    background-color: #f8f8f8;
    padding: 60px 20px;
    text-align: center;
  }
  

  form h3 {
    text-align: center;
    background-color: #f8f8f8;
  }
  
  form {
    background-color: #f8f8f8;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  form button{
    margin-bottom: 20px;
    padding-top: 12px;
    padding: 12px 28px;
    background-color: #ff69b4; 
    color: white;
    border: none;
    border-radius: 30px; 
    font-weight: bold;
    transition: all 0.3s ease;
  }

  form button:hover{
      background-color: #ff85c1; 
      transform: scale(1.05); /
    }
    
  

